body {
    background: rgb(92, 0, 76);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(63, 119, 121);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border: ridge 4px;
    border-color: rgb(255, 3, 255);
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(92, 0, 104);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: rgb(92, 0, 104);
}

/* main container area beneath menu */
main {
    background: rgb(25, 238, 219);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
    border: 2px ridge rgb(138, 0, 252);
    border-width: 20px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px ridge goldenrod;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
